.element{
    width: 200px;
    height: 200px;
    border:solid 1px;
    border-color: black;
    /*background-color: aqua;  */

    /*animation: pulse 5s infinite;*/
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}
.element:hover{
    animation: resizer 5s infinite;
}
@keyframes resizer{
    0%,100%{
        transform: scale(1.0);
        background-color: aqua;
    }
    50%{
        transform: scale(0.25);
        background-color: cornflowerblue;
    }
}

@keyframes pulse{
    0%,100%{
        background-color: aqua;
    }
    50%{
        transform: scale(1.5);
        background-color: cornflowerblue;
    }
}
/*.relement{
    width: 200px;
    height: 200px;
    border:solid 1px;
    border-color: black;
    animation: rota 5s infinite;

}
.relement:hover{
    animation: rota 5s infinite;

}*/
/*@keyframes rota{
    0%,100%{
        /*transform: scale(1.0);
        background-color: aqua;
    }
    50%{
        transform: rotate(30deg);
        /*transform: scale(0.25);
        background-color: cornflowerblue;
    }
}*/
.relement{
    background-color: red;
    border-radius: 100%;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    animation-name: movedown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: ;

}
@keyframes movedown{
    0%{
        transform: translate(0px,0px);
    }
    100%{
        transform: translate(0px,400px);
    }
}
