body{
    background-color: aliceblue;
    text-align: center;
    color: white;
}

.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.brown{
    background-color: brown;
}
.purple{
    background-color: purple;
}
.orange{
    background-color: orange;
}
.pink{
    background-color: pink;
}
.container{
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    height: 1500px;
    align-items: center; */
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 10px;

}
.box{
    height: 100px;
    width: 100px;
}